@import "vars"
@import "fonts"

\:root
  --orange: #FE5F1E

body
  margin: 0
  padding: 0
  background-color: $yellow

*
  font-family: 'Proxima Nova', sans-serif
  transition: all 200ms ease-in-out
  outline: none

h2
  font-size: 32px

a
  color: inherit

svg
  transition: none
  & > *
    transition: none

.btn
  padding: 0 30px
  height: 50px
  width: fit-content
  color: #ffffff
  font-size: 16px
  font-weight: 700
  text-decoration: none
  display: flex
  align-items: center
  gap: 14px
  border: 1px solid $orange
  border-radius: 30px
  background-color: $orange
  cursor: pointer
  svg
    transition: transform 200ms ease-in-out
  &:hover
    border-color: $dark
    background-color: $dark
  &_black
    color: #ffffff
    border-color: $dark
    background-color: $dark
    &:hover
      color: $dark
      background-color: transparent
  &_gray-outline
    color: $grayText
    font-weight: 400
    border-color: $grayText
    background-color: transparent
    &:hover
      color: $dark
      border-color: $dark
      background-color: transparent
      svg
        transform: translateX(-4px)

.wrapper
  margin: 50px auto
  max-width: 1340px
  width: 100%
  min-height: calc(100vh - 100px)
  height: 100%
  display: flex
  flex-direction: column
  border-radius: 10px
  background-color: #ffffff
  box-sizing: border-box
  transition: none

.section
  &__header
    margin-bottom: 35px
    &-title
      margin: 0


.content
  //min-height: calc(100vh - 351px)
  //min-height: 100%
  padding: 40px 50px 60px
  flex-grow: 1
  display: flex
  flex-direction: column
  box-sizing: border-box


@import "components/header"
@import "components/home"
@import "components/categories"
@import "components/sort"
@import "components/card"
@import "components/cart"
@import "components/content-info"
@import "components/not-found"