.content__info
  text-align: center
  &-title
    margin: 0
    font-size: 32px
    font-weight: 700
  &-description
    margin: 10px 0 0
    font-size: 18px
    line-height: 1.45
    letter-spacing: 0.01em